@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: nb_international_proregular;
    src: local("nb_international_proregular"),url(https://www.exotec.com/app/themes/exotec/dist/assets/nbinternationalproreg-webfont-10e6cc81.woff2) format("woff2"),url(/app/themes/exotec/dist/assets/nbinternationalproreg-webfont-1100f2dd.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: nb_international_probold;
    src: local("nb_international_probold"),url(https://www.exotec.com/app/themes/exotec/dist/assets/nbinternationalprobold-webfont-e246841b.woff2) format("woff2"),url(https://www.exotec.com/app/themes/exotec/dist/assets/nbinternationalprobold-webfont-b8988de2.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: nb_international_promono;
    src: local("nb_international_promono"),url(https://www.exotec.com/app/themes/exotec/dist/assets/nbinternationalpromono-webfont-a45714b4.woff2) format("woff2"),url(https://www.exotec.com/app/themes/exotec/dist/assets/nbinternationalpromono-webfont-7a4775fb.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

html {
  font-family: nb_international_probold, Helvetica, Arial, sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	position: relative;
}

body {
	color: #323232;
	background: #EFEFEF;
	text-align: center;
	margin: 0;
	min-height: 100vh;
	width: 100%;
	  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
	position: relative;
	oveflow: scroll;
}

#card-front-a {
  background-color: #FF9E18;
  color: #fff;
}

#card-front-b {
  background-color: #00B2E3;
  color: #fff;
}

#card-back-a {
  background-color: #fff;
  color: #323232;
}

#card-back-b {
  background-color: #323232;
  color: #fff;
}

.flip-card-back {
	transform-origin: 115px 0px;
  transform: rotateY(180deg);
	/*text-transform: uppercase;*/
}
	
.container {
  height: 100%;
  position: relative;
  /*border: 3px solid green;*/
}

.center {
	width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#flipper {
	cursor: pointer;
	margin: 50px 0 100px 0;
	display: inline;
}





.instructions {
		margin: 20px;
	display: block;
	position: relative;
}

.hidden {
	opacity: 0;
}

.unhidden {
	opacity: 100;
}

.unhidden, .hidden {
	transition: opacity 0.5s;
}

.mainbox{
  position: relative;
  width: 480px;
  height: 480px;
	
}
.mainbox:after{
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background: url('images/arrow-left.png') no-repeat;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: transform ease 3s;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);

}
span{
  width: 50%;
  height: 50%;
  /*display: inline-block;*/
  position: absolute;
	/*box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);*/
}
.span1{
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-image: linear-gradient(#EF3A79, #F48037);
  top: 120px;
  left: 0;
}
.span2{
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-image: linear-gradient(#006BAD, #00A8E4);
  top: 120px;
  right: 0;
}
.span3{
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-image: linear-gradient(#CEDD41, #FEF229);
  bottom: 0;
  left: 120px;
}
.span4{
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-image: linear-gradient(#00A955, #AED24A);
  top: 0;
  left: 120px;
}


.box1 .span3 b{
   transform: translate(-50%, -50%) rotate(-270deg);
}
.box1 .span1 b,
.box2 .span1 b{
  transform: translate(-50%, -50%) rotate(185deg);
}
.box2 .span3 b{
  transform: translate(-50%, -50%) rotate(90deg);
}
.box1 .span4 b,
.box2 .span4 b{
  transform: translate(-50%, -50%) rotate(-85deg);
}

.box2{
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}
span b{
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.spin{
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #006BAD;
  color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after{
  animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow{
  50%{
    right: -40px;
  }
}

.float-left {
	float: left;
	width: 50%;
}

.float-right {
	float: left;
}

#game-container {
	margin: 50px 0 0 0;
	height: 550px;
}

.icon {
	width: 50px;
	height: 50px;
}


/*added for header*/

/* Style the header with a grey background and some padding */
header {
  overflow: hidden;
  background-color: #323232;
  /*padding: 20px 10px;*/
	color: white;
}

/* Style the header links */
header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
  font-size: 25px;
  font-weight: bold;
	width: 60px;
	height: 60px;
	background-image: url("images/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin: 20px;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

/* Float the link section to the left */
.header-left {
  float: left;
}

/*added for buttons*/
.button {
	background-color: #6ABF4B;
	text-align: center;
	color: white;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	/*box-shadow: 0 5px 20px rgba(0,0,0,0.0);*/
	transform: scale(0.97);
}


/*classes added for pawns*/

.player-1 {
	background-color: #FE3B1E;
	width: 100%;
	height: 100%;
}

.player-2 {
	background-color: #00B2E3;
	width: 100%;
	height: 100%;
}

.player-3 {
	background-color: #DC2597;
	width: 100%;
	height: 100%;
}

.player-4 {
	background-color: #FDDD00;
	width: 100%;
	height: 100%;
}

.player-5 {
	background-color: #4D008C;
	width: 100%;
	height: 100%;
}

.player-6 {
	background-color: #6ABF4B;
	width: 100%;
	height: 100%;
}

.player-7 {
	background-color: #FF9E18;
	width: 100%;
	height: 100%;
}

.player-8 {
	background-color: #0071CE;
	width: 100%;
	height: 100%;
}

.player-9 {
	background-color: #141414;
	width: 100%;
	height: 100%;
}

.input-text {
	font-family: inherit;
	padding: 30px 5px;
	width: 200px;
	background-color: #323232;
	color: white;
}

.pawn-container {
	display: inline-block;
	/*position: relative;*/
	width: 100px;
	height: 100px;
	margin: auto;
	
}

#player-container {
	width: 1200px;
	margin: auto;
}

#pawns-all {
	margin: auto;
	padding: 20px;
	overflow: auto;
}


#player-list {
	margin: 40px auto;
	width: 100%;
	height: 150px;
	position: relative;
}

.player-pawn {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: auto;	
	  -webkit-mask-image: url(images/pawn.svg);
  mask-image: url(images/pawn.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
	z-index: 0;
	position: relative;
}

.pawn-shadow {
	background-color: black;
	width: 50px;
	height: 20px;
	margin: -15px auto;
	border-radius: 100px / 40px;
	overflow: visible;
	filter: blur(5px)
		opacity(0.4);
		z-index: -1;
	position: relative;
	
}

.player-name {
	padding: 20px;
}

.active {
	opacity: 1;
	transition: transform ease 0.5s; 
}

.inactive {
	opacity: 0.4;
	transition: transform ease 0.5s; 
}

#timer-container {
	position: fixed;
	top: 0px;
	right: 0px;
	background: #323232;
	color: white;
	border-bottom-left-radius: 20px;
	padding: 10px;
	width: 400px;
	height: 80px;
}

#timer {
	/*font-size: 2em;*/
	font-weight: bold;
	/*margin: 20px;*/
}

.guide-button {
	padding: 40px 20px;
	cursor: pointer;
}

#guide-container {
	position: absolute;
	width: 500px;
	height: 100%;
	background-color: #323232;
	transition:left 0.5s ease;
	z-index: 0;
	top: 0;
	cursor: pointer;
	color: white;
	padding: 40px;
}

#guide-container.unopen {
	left: -600px;
	
}

#guide-container.open {
	left: 0px;
	
}

.ilb {
	width: 150px;
	display: inline-block;
}

#question-number {
	text-transform: uppercase;
	/*font-size: 1.5em;*/
	margin: auto;
}

.guide-icon {
	width: 40px;
	margin: 10px;
}

.icon-guide {
	text-align: left;
}

.x-button {
position: absolute;
	top: 10px;
	right: 10px;
	font-weight: 900;
}

.guide-icon-text {
	margin: auto;
	padding: 1em; 
	height: auto;
}

#whiteout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	transition: opacity 0.5s;
	overflow: auto;
}

#whiteout.unopen {
	opacity: 0;
	pointer-events: none;
}

#whiteout.open {
	opacity: 0.8;
}

/* FROM OTHER DOC*/



.flip-card {
  background-color: transparent;
	width: 220px;
  height: 343px;
  perspective: 1000px;
	display: inline-block;
	margin: 0px 40px 60px 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /*transition: transform 0.6s;*/
  transform-style: preserve-3d;
  /*box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);*/
	border-radius: 20px;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
	transition: transform 0.6s;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	border-radius: 20px;
	border:solid white 12px;
	padding: 10px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.flip-card-front {
		/*background-image: linear-gradient(#006BAD, #00A8E4);*/
  color: #fff;
}

.flip-card-back {
  transform: rotateY(180deg);
	/*text-transform: uppercase;*/
	background-color: #fff;
  color: #323232;
}

.drawn {
	transform: translate(0px,200px);
	opacity: 0;
	transition: transform 0.6s, opacity 0.6s;
}

.predeal {
	transform: translate(0px,-200px);
	opacity: 0;
	transition: transform 0s, opacity 0s;
}
.dealt {
	transform: translate(0px,0px);
	opacity: 1;
	transition: transform 0.6s, opacity 0.6s;
}


.container {
  height: 100%;
  position: relative;
  /*border: 3px solid green;*/
}

.center {
	width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.hidden {
	opacity: 0;
}

.unhidden {
	opacity: 100;
}

.unhidden, .hidden {
	transition: opacity 0.5s;
}

.float-left {
	float: left;
	width: 50%;
}

.float-right {
	float: left;
}

#game-container {
	margin: 50px 0 0 0;
	height: 550px;
}

.icon {
	width: 50px;
	height: 50px;
}



.button:hover {
	opacity: 0.8;
}

.button:active {
	/*box-shadow: 0 5px 20px rgba(0,0,0,0.0);*/
	transform: scale(0.97);
}

}

.ilb {
	width: 150px;
	display: inline-block;
}

#question-number {
	text-transform: uppercase;
	/*font-size: 1.5em;*/
	margin: auto;
}

.guide-icon {
	width: 40px;
	margin: 10px;
}

.icon-guide {
	text-align: left;
}

.x-button {
position: absolute;
	top: 10px;
	right: 10px;
	font-weight: 900;
}

.guide-icon-text {
	margin: auto;
	padding: 1em; 
	height: auto;
}

#whiteout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	transition: opacity 0.5s;
	overflow: auto;
}

#whiteout.unopen {
	opacity: 0;
	pointer-events: none;
}

#whiteout.open {
	opacity: 0.8;
}


.inline {
	display: inline-block;
}

.selection {
	width: 2em;
	height: 2em;
	border-radius: 1em;
	cursor: pointer;
	margin: 0 0.1em;
}

.deselected {
	outline: white solid 2px;
	opacity: 0.2;
}

.invalid {
	color: red;
}

#play-pause, #timer-adjust {
	padding: 0 0.5em;
}

#timer {
	width: 3em;
	text-align: left;
}
#selection-container {
	margin: -0.5em 0 0 0;
}



.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
	transform: translateY(2px);
}
